{% extends "base.html" %}

{% block head_title %}
    Register | Personal Finance Tracker
{% endblock %}

{% block content %}
    {% for categ, message in get_flashed_messages(with_categories = true) %}
        <div class="alert alert-{{ categ }} fade show" role="alert" style="position: relative;">
            <span>{{ message }}</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="position: absolute; right: 0; background: none; border: none;">
                <i class="fas fa-times"></i>
            </button>
        </div>
    {% endfor %}

    <h1 class="mt-4 mb-6 text-2xl leading-none tracking-tight text-white md:text-3xl lg:text-4xl">
        Register
    </h1>

    {% if name %}
        <p> You are now registered as <strong>{{ name }}</strong>!</p>
    {% else %}
        <p> Please register</p>

        <br>
        <form method="POST" class="form-control">
            {{ form.hidden_tag() }}
            
            <div class="space-y-4">
                <div class="space-y-2">
                    {{ form.name.label(class="form-label text-gray-300") }} 
                    {{ form.name(class="mt-1 block w-full px-3 py-2 bg-gray-700 border border-gray-600 rounded-md shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500") }}
                </div>

                <div class="space-y-2">
                    {{ form.email.label(class="form-label text-gray-300") }} 
                    {{ form.email(class="mt-1 block w-full px-3 py-2 bg-gray-700 border border-gray-600 rounded-md shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500") }}
                </div>

                <div class="space-y-2">
                    {{ form.password.label(class="form-label text-gray-300") }} 
                    {{ form.password(class="mt-1 block w-full px-3 py-2 bg-gray-700 border border-gray-600 rounded-md shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500") }}
                </div>

                <div class="space-y-2">
                    {{ form.confirm_password.label(class="form-label text-gray-300") }} 
                    {{ form.confirm_password(class="mt-1 block w-full px-3 py-2 bg-gray-700 border border-gray-600 rounded-md shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500") }}
                </div>
            </div>

            <br>
            {{ form.submit(class="w-full py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500") }}
        </form>
    {% endif %}


{% endblock %}
