{% extends "base.html" %}

{% block head_title %}
    TRANSACTIONS | Personal Finance Tracker
{% endblock %}

{% block content %}

{% for categ, message in get_flashed_messages(with_categories = true) %}
<div class="alert alert-{{categ}}" style="position: relative;">
    <span>{{ message }}</span>
    <button type="button" data-bs-dismiss="alert" aria-label="Close" style="position: absolute; right: 0; background: none; border: none;">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12" />
        </svg>
    </button>
</div>
{% endfor %}


    <h1 class="mt-4 mb-6 text-2xl leading-none tracking-tight text-white md:text-3xl lg:text-4xl flex item-center mb-4">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
            <path strokeLinecap="round" strokeLinejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
          </svg> -->
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 me-3">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
          </svg>
          

        TRANSACTIONS LIST
    </h1>
    <div class = "relative overflow-x-auto text-white">

        <div class = "flex flex-col-reverse md:grid md:grid-cols-4 md:gap4">
             <!-- 3 de cuatro columnas para la tabla   -->
             <div class = "col-span-3 me-4 " >
                {% include 'partials/transaction_table.html' %}
            </div>


             <!-- 1 de cuatro columnas para el formulario de filtros -->
        <div class = "col-span-1">
            <form hx-get="/transactions" hx-target="#transaction-container" hx-swap="outerHTML">
                <!-- Category Filter -->
                <div class="mb-2 form-control">
                    <label for="category" class="text-white text-sm">Category</label>
                    <input type="text" name="category" id="category" class="input input-bordered" placeholder="Enter category..." />
                </div>
            
                <!-- Date Filter -->
                <div class="mb-2 form-control">
                    <label for="date" class="text-white text-sm">Date</label>
                    <input type="text" name="date" id="date" class="input input-bordered" placeholder="YYYY-MM-DD" />
                </div>
            
                <!-- Type Filter -->
                <div class="mb-2 form-control">
                    <label for="type" class="text-white text-sm">Type</label>
                    <input type="text" name="type" id="type" class="input input-bordered" placeholder="Enter type (e.g., income or expense)..." />
                </div>
            
                <button type="submit" class="btn btn-neutral mt-4">Search</button>
            </form>
            
        </div>

        </div>  
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
{% endblock %}
