
<div id="transaction-container"  class = "text-white">
<h1 class="mt-4 mb-6 prose prose-2x1 text-white">
    Totals
</h1>

<table class="table">
    <thead class="text-xs text-white uppercase">
        <tr>
            <th class="px-6 py-3">Income</th>
            <th class="px-6 py-3">Expense</th>
            <th class="px-6 py-3">Balance</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-sm">
            <td class="px-6 py-4">$ {{ totals.total_income|currency }}</td>
            <td class="px-6 py-4">$ {{ totals.total_expenses|currency }}</td>
            <td class="px-6 py-4">$ {{ totals.total_amount|currency }}</td>
        </tr>
</table>

<br>

<div class="flex justify-between items-center mt-4 mb-6">


    <h1 class="mt-8 mb-6 prose prose-2x1 text-white">
        Transactions
    </h1>

    <a href="/transactions/add"
        
        class="cursor-pointer">
            
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5" />
        </svg>
    </a>

</div>
<table class="table">
    <thead class="text-xs text-white uppercase">
        <tr>
            <th class="px-6 py-3">Date</th>
            <th class="px-6 py-3">Category</th>
            <th class="px-6 py-3">Type</th>
            <th class="px-6 py-3">Amount</th>
        </tr>
    </thead>
    <tbody>
        {% if transactions %}
            {% for transaction in transactions %}
            <tr class="text-sm">
                <td class="px-6 py-4">{{ transaction.date.strftime('%Y-%m-%d') }}</td>
                <td class="px-6 py-4">{{ transaction.category_id }}</td>
                <td class="px-6 py-4">{{ transaction.type }}</td>
                <td class="px-6 py-4">{{ transaction.amount }}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4" class="text-center text-gray-500 py-4">No transactions available.</td>
            </tr>
        {% endif %}
    </tbody>
</table>
</div>