<table class="table" id="transaction-container">
    <thead class="text-xs text-white uppercase">
        <tr>
            <th class="px-6 py-3">Date</th>
            <th class="px-6 py-3">Category</th>
            <th class="px-6 py-3">Type</th>
            <th class="px-6 py-3">Amount</th>
        </tr>
    </thead>
    <tbody>
        {% if transactions %}
            {% for transaction in transactions %}
            <tr class="text-sm">
                <td class="px-6 py-4">{{ transaction.date.strftime('%Y-%m-%d') }}</td>
                <td class="px-6 py-4">{{ transaction.category_id }}</td>
                <td class="px-6 py-4">{{ transaction.type }}</td>
                <td class="px-6 py-4">{{ transaction.amount }}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4" class="text-center text-gray-500 py-4">No transactions available.</td>
            </tr>
        {% endif %}
    </tbody>
</table>
